<div class="list-header">
  <h3 class="c-page-title">Top Offers</h3>
    <mat-form-field appearance="outline" class="sort-field">
    <mat-label>Sort by</mat-label>
    <mat-select
      [value]="'votes-desc'"
      (selectionChange)="onSortOrderChange($event.value)"
    >
      <mat-option value="votes-desc">Most upvoted</mat-option>
      <mat-option value="votes-asc">Least upvoted</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<ng-container *ngIf="!(loading$ | async); else loading">
  <div class="offers-grid">
    <app-offer-card
      *ngFor="let offer of offers$ | async; trackBy: trackById"
      [offer]="offer"
      (upvote)="OnUpVote($event)"
      (downvote)="OnDownVote($event)"
      (viewDetails)="OnViewDetails($event)"
    ></app-offer-card>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading offers…</p>
</ng-template>
