.app-toolbar {
    background: linear-gradient(90deg,#1976d2,#0d47a1) !important;
    color: #fff !important;
}

.app-toolbar__title {
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 1.1rem;
}