.detail-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;

  &__image img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .price {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .rating mat-icon[inline] {
  vertical-align: middle;
  font-size: 18px;
  color: goldenrod;
}
}

@media (max-width: 768px) {
  .detail-layout {
    grid-template-columns: 1fr;
  }
}
