<button mat-button routerLink="/offers" class="back-link">← Back to offers</button>

<div *ngIf="offer$ | async as offer; else loading" class="detail-layout">
  
  <div class="detail-layout__image">
    <img [src]="offer.imageUrl" [alt]="offer.title" />
  </div>

  <div class="detail-layout__info">
    <h1 class="detail-layout__title">{{ offer.title }}</h1>
    <h3 class="detail-layout__merchant">{{ offer.merchant }}</h3>

    <p class="detail-layout__description">{{ offer.description }}</p>

    <div class="detail-layout__meta">

    <span class="detail-layout__price">
        {{ offer.price | currency: 'EUR' }}
    </span>
    <span class="detail-layout__rating">
        <mat-icon>star</mat-icon>
         {{ offer.rating }} 
    </span>
     <span class="detail-layout__votes"  data-testid="detail-votes">
         <mat-icon>thumb_up</mat-icon>
         {{ offer.votes }}
    </span>
    </div>

    <div class="detail-layout__actions">
        <button mat-icon button (click)="onUpvote(offer)" aria-label="Upvote"  data-testid="detail-upvote">
            <mat-icon>thumb_up</mat-icon>
        </button>
            <button mat-icon button (click)="onDownvote(offer)" aria-label="Downvote">
            <mat-icon>thumb_down</mat-icon>
        </button>
      <button mat-raised-button color="accent" (click)="onPurchase(offer)">
        Buy on rebuy
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading offer...</p>
</ng-template>
